.search-container{
    width: 65%;
}


.search-results-container {
    
    position: absolute;
    width: 500px;
    height: auto;
    display: none;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) saturate(160%) contrast(70%) brightness(100%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
    z-index: 1;   
}

.search-results-container button {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.result-items{
    
    margin: 0px;
    display: inline-block;
    padding: 15px 0px 15px 0px;
    width: 100%;
    cursor: pointer;
}

.result-items:hover {
    color: rgb(209, 21, 21);
    background-color:rgba(190, 57, 57, 0.1);
}

#closeSearchResult {
    z-index: 0;
    opacity: 0.1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#searchbar {
    color: white;
   
    border-radius: 1rem;
    border: 1px solid white;
    height: 40px;
    
    width: 100%;
    
    margin: 1rem 1rem 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

::placeholder {
    margin-left: 50px;
    color: rgb(0, 0, 0, 0.5);
    font-size: 14px;
    text-indent: 1rem;
    
  }

  @media only screen and (max-width: 1000px) {
    .search-container{
        width: 50%;
    }
  }