.app-container {
    max-width: 960px;
    margin: auto;
    
}

@media only screen and (max-width: 1000px) { 
   .app-container {
       max-width: 850px;
       margin: auto;
       padding: 0 20px 20px 20px;
   }

}