.result-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-gap: 1rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem 
    border: solid 1px rgb(241, 241, 241); */
    margin-bottom: 50px;
}


.result-item { 
    border: solid 1px rgb(255, 255, 255);
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    cursor: pointer;
    
}

.result-item:hover {
    animation-play-state: running;
    animation: hover 0.1s ease-out;
    border: 1px solid white;
    animation-fill-mode: forwards;
}


 @keyframes hover {

    
      100% {
        transform: scale(1.02, 1.02);
        box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.2);
        border: 1px solid transparent;
            
        }
 }

img { 
    height: 100px;
    width: auto;
    margin: 10px;
    margin-top: 15px;
}


    
    
    

@media only screen and (max-width: 1000px) {
    .result-items-grid {
        grid-template-columns: repeat(2, minmax(100px,1fr));
        
    }
  }